<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>ShopSSHE</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring.xml,classpath:spring-hibernate.xml</param-value>
  </context-param>
  
  <filter>
    <filter-name>openSessionInViewFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>singleSession</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>openSessionInViewFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--ContextLoaderListener监听器的作用就是启动Web容器时，
  自动装配ApplicationContext的配置信息。
  因为它实现了ServletContextListener这个接口，在web.xml配置这个监听器，
  启动容器时，就会默认执行它实现的方法。至于ApplicationContext.xml这个配置文件部署在哪，
  如何配置多个xml文件，书上都没怎么详细说明。现在的方法就是查看它的API文档。
  在ContextLoaderListener中关联了ContextLoader这个类，
  所以整个加载配置过程由ContextLoader来完成。 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- 自己定义的初始化页面的监听器 -->
  <listener>
    <listener-class>com.gt.listener.InitListener</listener-class>
  </listener>
  <!--spring内存溢出监听-->
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>

</web-app>
